@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 1, ../scss/abstracts/_helpers.scss */
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* line 1, ../scss/base/_reset.scss */
html {
  font-size: 1rem;
  font-family: "Saira";
  min-height: 100vh;
}

/* line 7, ../scss/base/_reset.scss */
body {
  background-color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  /* line 7, ../scss/base/_reset.scss */
  body {
    background-color: #58cea7;
    background-image: linear-gradient(to right bottom, #58cea7, #10b981);
    background-size: cover;
  }
}

/* line 19, ../scss/base/_reset.scss */
p {
  line-height: 2em;
}

/* line 23, ../scss/base/_reset.scss */
a, button {
  -webkit-tap-highlight-color: transparent;
}

/* line 1, ../scss/layout/_main.scss */
.main-container {
  margin-left: auto;
  background-color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  /* line 1, ../scss/layout/_main.scss */
  .main-container {
    margin-left: -3.8rem;
    padding: 2rem 2rem 2rem 5.8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }
}

/* line 1, ../scss/layout/_guest.scss */
.guest {
  min-height: 100vh;
}
/* line 5, ../scss/layout/_guest.scss */
.guest__welcome, .guest__authentication, .guest__illustration {
  display: flex;
  align-items: center;
}
/* line 9, ../scss/layout/_guest.scss */
.guest__welcome > div, .guest__authentication > div, .guest__illustration > div {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 64rem) {
  /* line 9, ../scss/layout/_guest.scss */
  .guest__welcome > div, .guest__authentication > div, .guest__illustration > div {
    text-align: start;
    max-width: 48rem;
  }
}
/* line 21, ../scss/layout/_guest.scss */
.guest__welcome {
  display: none;
  background-color: #10b981;
}
@media screen and (min-width: 64rem) {
  /* line 21, ../scss/layout/_guest.scss */
  .guest__welcome {
    display: flex;
  }
}
/* line 32, ../scss/layout/_guest.scss */
.guest__authentication {
  background-color: #FFFFFF;
}
/* line 36, ../scss/layout/_guest.scss */
.guest__illustration {
  display: none;
  background-color: #FFFFFF;
}
/* line 39, ../scss/layout/_guest.scss */
.guest__illustration svg {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media screen and (min-width: 64rem) {
  /* line 36, ../scss/layout/_guest.scss */
  .guest__illustration {
    display: flex;
  }
}

/* line 1, ../scss/layout/_navigation.scss */
.nav-desktop {
  background-image: linear-gradient(to right bottom, #10b981, #0ea774);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* line 3, ../scss/components/_course-card.scss */
.course-card--primary {
  background-color: #c3eee0;
  color: #0c8b61;
  background-image: linear-gradient(to right bottom, #e7f8f2, #9fe3cd);
}
/* line 9, ../scss/components/_course-card.scss */
.course-card--primary:active {
  background-color: #58cea7;
  background-image: linear-gradient(to right bottom, #c3eee0, #58cea7);
  color: #1f1f1f;
}
/* line 15, ../scss/components/_course-card.scss */
.course-card--primary .progress {
  background-color: #0c8b61;
}
/* line 21, ../scss/components/_course-card.scss */
.course-card--secondary {
  background-color: #cccccc;
  background-image: linear-gradient(to right bottom, #ebebeb, #aeaeae);
  color: #272727;
}
/* line 27, ../scss/components/_course-card.scss */
.course-card--secondary:active {
  background-color: #717171;
  background-image: linear-gradient(to right bottom, #cccccc, #717171);
  color: #1f1f1f;
}
/* line 33, ../scss/components/_course-card.scss */
.course-card--secondary .progress {
  background-color: #272727;
}
/* line 39, ../scss/components/_course-card.scss */
.course-card--red {
  background-color: #fecaca;
  background-image: linear-gradient(to right bottom, #fee2e2, #fca5a5);
  color: #b91c1c;
}
/* line 45, ../scss/components/_course-card.scss */
.course-card--red:active {
  background-color: #f87171;
  background-image: linear-gradient(to right bottom, #fecaca, #f87171);
  color: #991b1b;
}
/* line 51, ../scss/components/_course-card.scss */
.course-card--red .progress {
  background-color: #b91c1c;
}
/* line 58, ../scss/components/_course-card.scss */
.course-card--orange {
  background-color: #fed7aa;
  background-image: linear-gradient(to right bottom, #ffedd5, #fdba74);
  color: #c2410c;
}
/* line 64, ../scss/components/_course-card.scss */
.course-card--orange:active {
  background-color: #fb923c;
  background-image: linear-gradient(to right bottom, #fed7aa, #fb923c);
  color: #9a3412;
}
/* line 70, ../scss/components/_course-card.scss */
.course-card--orange .progress {
  background-color: #c2410c;
}
/* line 76, ../scss/components/_course-card.scss */
.course-card--blue {
  background-color: #bfdbfe;
  background-image: linear-gradient(to right bottom, #dbeafe, #93c5fd);
  color: #1d4ed8;
}
/* line 82, ../scss/components/_course-card.scss */
.course-card--blue:active {
  background-color: #60a5fa;
  background-image: linear-gradient(to right bottom, #bfdbfe, #60a5fa);
  color: #1e40af;
}
/* line 88, ../scss/components/_course-card.scss */
.course-card--blue .progress {
  background-color: #1d4ed8;
}
/* line 94, ../scss/components/_course-card.scss */
.course-card--purple {
  background-color: #e9d5ff;
  background-image: linear-gradient(to right bottom, #f3e8ff, #d8b4fe);
  color: #7e22ce;
}
/* line 100, ../scss/components/_course-card.scss */
.course-card--purple:active {
  background-color: #c084fc;
  background-image: linear-gradient(to right bottom, #e9d5ff, #c084fc);
  color: #6b21a8;
}
/* line 106, ../scss/components/_course-card.scss */
.course-card--purple .progress {
  background-color: #7e22ce;
}
/* line 112, ../scss/components/_course-card.scss */
.course-card--pink {
  background-color: #fbcfe8;
  background-image: linear-gradient(to right bottom, #fce7f3, #f9a8d4);
  color: #be185d;
}
/* line 118, ../scss/components/_course-card.scss */
.course-card--pink:active {
  background-color: #f472b6;
  background-image: linear-gradient(to right bottom, #fbcfe8, #f472b6);
  color: #9d174d;
}
/* line 124, ../scss/components/_course-card.scss */
.course-card--pink .progress {
  background-color: #be185d;
}
/* line 130, ../scss/components/_course-card.scss */
.course-card__progressbar {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 136, ../scss/components/_course-card.scss */
.course-card__progressbar--disabled {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 1, ../scss/components/_event-card.scss */
.event-card, .event-card--primary, .event-card--secondary, .event-card--red, .event-card--orange, .event-card--blue, .event-card--purple, .event-card--pink {
  color: #FFFFFF;
}
/* line 4, ../scss/components/_event-card.scss */
.event-card--primary {
  background-color: #10b981;
  background-image: linear-gradient(to right bottom, #58cea7, #0ea774);
}
/* line 9, ../scss/components/_event-card.scss */
.event-card--primary button {
  background-color: #58cea7;
}
/* line 13, ../scss/components/_event-card.scss */
.event-card--primary:active {
  background-color: #0ea774;
  background-image: linear-gradient(to right bottom, #10b981, #0c8b61);
}
/* line 20, ../scss/components/_event-card.scss */
.event-card--secondary {
  background-color: #343434;
  background-image: linear-gradient(to right bottom, #717171, #2f2f2f);
}
/* line 25, ../scss/components/_event-card.scss */
.event-card--secondary button {
  background-color: #717171;
}
/* line 29, ../scss/components/_event-card.scss */
.event-card--secondary:active {
  background-color: #2f2f2f;
  background-image: linear-gradient(to right bottom, #343434, #272727);
}
/* line 35, ../scss/components/_event-card.scss */
.event-card--red {
  background-color: #ef4444;
  background-image: linear-gradient(to right bottom, #f87171, #dc2626);
}
/* line 40, ../scss/components/_event-card.scss */
.event-card--red button {
  background-color: #f87171;
}
/* line 44, ../scss/components/_event-card.scss */
.event-card--red:active {
  background-color: #dc2626;
  background-image: linear-gradient(to right bottom, #ef4444, #b91c1c);
}
/* line 50, ../scss/components/_event-card.scss */
.event-card--orange {
  background-color: #f97316;
  background-image: linear-gradient(to right bottom, #fb923c, #ea580c);
}
/* line 55, ../scss/components/_event-card.scss */
.event-card--orange button {
  background-color: #fb923c;
}
/* line 59, ../scss/components/_event-card.scss */
.event-card--orange:active {
  background-color: #ea580c;
  background-image: linear-gradient(to right bottom, #f97316, #c2410c);
}
/* line 65, ../scss/components/_event-card.scss */
.event-card--blue {
  background-color: #3b82f6;
  background-image: linear-gradient(to right bottom, #60a5fa, #2563eb);
}
/* line 70, ../scss/components/_event-card.scss */
.event-card--blue button {
  background-color: #60a5fa;
}
/* line 74, ../scss/components/_event-card.scss */
.event-card--blue:active {
  background-color: #2563eb;
  background-image: linear-gradient(to right bottom, #3b82f6, #1d4ed8);
}
/* line 80, ../scss/components/_event-card.scss */
.event-card--purple {
  background-color: #a855f7;
  background-image: linear-gradient(to right bottom, #c084fc, #9333ea);
}
/* line 85, ../scss/components/_event-card.scss */
.event-card--purple button {
  background-color: #c084fc;
}
/* line 89, ../scss/components/_event-card.scss */
.event-card--purple:active {
  background-color: #9333ea;
  background-image: linear-gradient(to right bottom, #a855f7, #7e22ce);
}
/* line 95, ../scss/components/_event-card.scss */
.event-card--pink {
  background-color: #ec4899;
  background-image: linear-gradient(to right bottom, #f472b6, #db2777);
}
/* line 100, ../scss/components/_event-card.scss */
.event-card--pink button {
  background-color: #f472b6;
}
/* line 104, ../scss/components/_event-card.scss */
.event-card--pink:active {
  background-color: #db2777;
  background-image: linear-gradient(to right bottom, #ec4899, #be185d);
}
/* line 110, ../scss/components/_event-card.scss */
.event-card.not-active, .not-active.event-card--primary, .not-active.event-card--secondary, .not-active.event-card--red, .not-active.event-card--orange, .not-active.event-card--blue, .not-active.event-card--purple, .not-active.event-card--pink {
  color: #717171;
  background-color: #f5f5f5;
  background-image: linear-gradient(to right bottom, #f5f5f5, #f5f5f5);
}
/* line 115, ../scss/components/_event-card.scss */
.event-card.not-active button, .not-active.event-card--primary button, .not-active.event-card--secondary button, .not-active.event-card--red button, .not-active.event-card--orange button, .not-active.event-card--blue button, .not-active.event-card--purple button, .not-active.event-card--pink button {
  background-color: #ebebeb;
}

/* line 1, ../scss/components/_button.scss */
.btn, .btn--primary, .btn--primary-outlined, .btn--white, .btn--white-outlined, .btn--gray, .btn--gray-outlined, .btn--danger {
  padding: .7em 1.5em;
  text-align: center;
  border-radius: .4em;
  font-weight: 600;
  transition: transform .3s ease, background-color .3s ease;
  font-style: normal;
  cursor: pointer;
}
/* line 10, ../scss/components/_button.scss */
.btn--primary {
  background-color: #10b981;
  background-image: linear-gradient(to right bottom, #10b981, #0ea774);
  color: #FFFFFF;
}
/* line 16, ../scss/components/_button.scss */
.btn--primary:focus {
  background-color: #0ea774;
  background-image: linear-gradient(to right bottom, #0ea774, #0c8b61);
  outline: 3px solid #9fe3cd;
}
/* line 22, ../scss/components/_button.scss */
.btn--primary-outlined {
  background-color: transparent;
  color: #10b981;
  border: 1px solid #10b981;
}
/* line 31, ../scss/components/_button.scss */
.btn--white {
  background-color: #FFFFFF;
  color: #10b981;
}
/* line 36, ../scss/components/_button.scss */
.btn--white:focus {
  outline: 3px solid rgba(255, 255, 255, 0.5);
}
/* line 40, ../scss/components/_button.scss */
.btn--white-outlined {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
/* line 49, ../scss/components/_button.scss */
.btn--gray {
  background-color: #FFFFFF;
  color: #aeaeae;
}
/* line 54, ../scss/components/_button.scss */
.btn--gray:focus {
  outline: 3px solid #aeaeae;
}
/* line 58, ../scss/components/_button.scss */
.btn--gray-outlined {
  background-color: transparent;
  color: #343434;
  border: 1px solid #aeaeae;
}
/* line 69, ../scss/components/_button.scss */
.btn:hover, .btn--primary:hover, .btn--primary-outlined:hover, .btn--white:hover, .btn--white-outlined:hover, .btn--gray:hover, .btn--gray-outlined:hover, .btn--danger:hover {
  transform: scale(1.05);
}
/* line 73, ../scss/components/_button.scss */
.btn--icon, .btn--icon--primary, .btn--icon--danger, .btn--icon--blue {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  transition: transform .3s ease, background-color .3s ease;
}
/* line 79, ../scss/components/_button.scss */
.btn--icon:hover, .btn--icon--primary:hover, .btn--icon--danger:hover, .btn--icon--blue:hover {
  transform: scale(1.05);
}
/* line 83, ../scss/components/_button.scss */
.btn--icon svg, .btn--icon--primary svg, .btn--icon--danger svg, .btn--icon--blue svg {
  margin-left: auto;
  margin-right: auto;
}
/* line 88, ../scss/components/_button.scss */
.btn--icon--primary {
  color: #FFFFFF;
  background-color: #10b981;
  background-image: linear-gradient(to right bottom, #10b981, #0ea774);
}
/* line 94, ../scss/components/_button.scss */
.btn--icon--primary:focus {
  background-color: #0ea774;
  background-image: linear-gradient(to right bottom, #0ea774, #0c8b61);
  outline: 3px solid #9fe3cd;
}
/* line 101, ../scss/components/_button.scss */
.btn--icon--danger {
  color: #ef4444;
  background-color: #fee2e2;
  background-image: linear-gradient(to right bottom, #ef4444, #dc2626);
}
/* line 107, ../scss/components/_button.scss */
.btn--icon--danger:focus {
  outline: 3px solid #fca5a5;
}
/* line 112, ../scss/components/_button.scss */
.btn--icon--blue {
  color: #3b82f6;
  background-color: #dbeafe;
  background-image: linear-gradient(to right bottom, #3b82f6, #2563eb);
}
/* line 118, ../scss/components/_button.scss */
.btn--icon--blue:focus {
  outline: 3px solid #93c5fd;
}
/* line 125, ../scss/components/_button.scss */
.btn--danger {
  background-color: #ef4444;
  background-image: linear-gradient(to right bottom, #ef4444, #dc2626);
  color: #FFFFFF;
}
/* line 131, ../scss/components/_button.scss */
.btn--danger:focus {
  outline: 3px solid #fca5a5;
}

/* line 1, ../scss/components/_input-search.scss */
.input-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23717171'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 98% center;
}

/* line 1, ../scss/components/_sample-color.scss */
.sample, .sample-primary, .sample-primary--200, .sample-secondary, .sample-secondary--200, .sample-red, .sample-red--200, .sample-orange, .sample-orange--200, .sample-blue, .sample-blue--200, .sample-purple, .sample-purple--200, .sample-pink, .sample-pink--200 {
  border: 1px solid;
}
/* line 5, ../scss/components/_sample-color.scss */
.sample-primary--200 {
  border-color: #9fe3cd;
  background-color: #c3eee0;
}
/* line 13, ../scss/components/_sample-color.scss */
.sample-secondary--200 {
  border-color: #aeaeae;
  background-color: #cccccc;
}
/* line 21, ../scss/components/_sample-color.scss */
.sample-red--200 {
  border-color: #fca5a5;
  background-color: #fecaca;
}
/* line 29, ../scss/components/_sample-color.scss */
.sample-orange--200 {
  border-color: #fdba74;
  background-color: #fed7aa;
}
/* line 37, ../scss/components/_sample-color.scss */
.sample-blue--200 {
  border-color: #93c5fd;
  background-color: #bfdbfe;
}
/* line 45, ../scss/components/_sample-color.scss */
.sample-purple--200 {
  border-color: #d8b4fe;
  background-color: #e9d5ff;
}
/* line 53, ../scss/components/_sample-color.scss */
.sample-pink--200 {
  border-color: #f9a8d4;
  background-color: #fbcfe8;
}

/* line 1, ../scss/components/_tab.scss */
.tab, .tab--primary {
  padding: .7em 1.5em;
  border-radius: .4em;
  font-weight: 500;
  transition: transform .3s ease, color .3s ease;
  background-color: transparent;
  color: #aeaeae;
  font-style: normal;
  cursor: pointer;
}
/* line 14, ../scss/components/_tab.scss */
.tab--primary span {
  display: none;
}
@media screen and (min-width: 56rem) {
  /* line 14, ../scss/components/_tab.scss */
  .tab--primary span {
    display: initial;
  }
}
@media screen and (min-width: 56rem) {
  /* line 23, ../scss/components/_tab.scss */
  .tab--primary svg {
    display: none;
  }
}
/* line 29, ../scss/components/_tab.scss */
.tab--primary.active {
  background-color: #e7f8f2;
  color: #0c8b61;
}
/* line 33, ../scss/components/_tab.scss */
.tab--primary.active:hover {
  transform: none;
}
/* line 39, ../scss/components/_tab.scss */
.tab--primary:hover {
  color: #0c8b61;
  transform: scale(1.05);
}

/* line 1, ../scss/components/_badge.scss */
.badge, .badge--primary, .badge--red {
  display: inline-block;
  padding: .2em .7em;
  text-transform: uppercase;
  font-size: .625rem;
  font-weight: 600;
  border-radius: .5em;
}
/* line 9, ../scss/components/_badge.scss */
.badge--primary {
  background-color: #e7f8f2;
  color: #0c8b61;
}
/* line 15, ../scss/components/_badge.scss */
.badge--red {
  background-color: #fee2e2;
  color: #b91c1c;
}

/* line 1, ../scss/components/_loader.scss */
.loader {
  color: #10b981;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,  0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,  0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,  -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,  -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,  -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,  -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,  0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 3, ../scss/views/_events.scss */
.events-index table {
  width: 120rem;
}
/* line 6, ../scss/views/_events.scss */
.events-index table th, .events-index table td {
  padding-right: 2rem;
}
/* line 9, ../scss/views/_events.scss */
.events-index table th:last-of-type, .events-index table td:last-of-type {
  padding-right: 0;
}

/* line 5, ../scss/views/_grades.scss */
.grades-index__table th {
  min-height: 2rem;
}
/* line 9, ../scss/views/_grades.scss */
.grades-index__table th, .grades-index__table td {
  padding: 1rem 1.2rem;
}
/* line 15, ../scss/views/_grades.scss */
.grades-index__table .activity-header__delete {
  display: none;
}
/* line 20, ../scss/views/_grades.scss */
.grades-index__table .activity-header:hover .activity-header__number {
  display: none;
}
/* line 23, ../scss/views/_grades.scss */
.grades-index__table .activity-header:hover .activity-header__delete {
  display: block;
}

/* line 5, ../scss/views/_attendances.scss */
.attendances-index__table th {
  min-height: 2rem;
}
/* line 9, ../scss/views/_attendances.scss */
.attendances-index__table th, .attendances-index__table td {
  padding: 1rem 1.2rem;
}
/* line 13, ../scss/views/_attendances.scss */
.attendances-index__table .attendance-box {
  color: #0a6f4d;
}
/* line 16, ../scss/views/_attendances.scss */
.attendances-index__table .attendance-box__btn--attended, .attendances-index__table .attendance-box__btn--not-attended {
  border: 1px solid #c3eee0;
  padding: .5em;
}
/* line 22, ../scss/views/_attendances.scss */
.attendances-index__table .attendance-box__btn--attended .uncheck {
  display: none;
  color: #ef4444;
}
@media screen and (min-width: 48rem) {
  /* line 29, ../scss/views/_attendances.scss */
  .attendances-index__table .attendance-box__btn--attended:hover .check {
    display: none;
  }
  /* line 32, ../scss/views/_attendances.scss */
  .attendances-index__table .attendance-box__btn--attended:hover .uncheck {
    display: block;
  }
}
/* line 40, ../scss/views/_attendances.scss */
.attendances-index__table .attendance-box__btn--not-attended svg {
  opacity: 0;
  transition: opacity .15s ease;
}
/* line 46, ../scss/views/_attendances.scss */
.attendances-index__table .attendance-box__btn--not-attended:hover svg {
  opacity: .6;
}
/* line 57, ../scss/views/_attendances.scss */
.attendances-index__table .classday-header__delete {
  display: none;
}
/* line 62, ../scss/views/_attendances.scss */
.attendances-index__table .classday-header:hover .classday-header__date {
  display: none;
}
/* line 65, ../scss/views/_attendances.scss */
.attendances-index__table .classday-header:hover .classday-header__delete {
  display: block;
}

/*# sourceMappingURL=style.css.map */
