@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 1, ../scss/abstracts/_helpers.scss */
.card-shadow {
  box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.3);
  -webkit-box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.3);
  -moz-box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.3);
}

/* line 1, ../scss/base/_reset.scss */
html {
  font-size: 1rem;
  font-family: "Saira";
}

/* line 6, ../scss/base/_reset.scss */
body {
  background-color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  /* line 6, ../scss/base/_reset.scss */
  body {
    background-color: #58cea7;
  }
}

/* line 16, ../scss/base/_reset.scss */
p {
  line-height: 2em;
}

/* line 1, ../scss/layout/_main.scss */
.main-container {
  margin-left: auto;
  background-color: #FFFFFF;
}
@media screen and (min-width: 48rem) {
  /* line 1, ../scss/layout/_main.scss */
  .main-container {
    margin-left: -3.8rem;
    padding: 2rem 2rem 2rem 5.8rem;
  }
}

/* line 1, ../scss/layout/_guest.scss */
.guest {
  min-height: 100vh;
}
/* line 5, ../scss/layout/_guest.scss */
.guest__welcome, .guest__authentication, .guest__illustration {
  display: flex;
  align-items: center;
}
/* line 9, ../scss/layout/_guest.scss */
.guest__welcome > div, .guest__authentication > div, .guest__illustration > div {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 64rem) {
  /* line 9, ../scss/layout/_guest.scss */
  .guest__welcome > div, .guest__authentication > div, .guest__illustration > div {
    text-align: start;
    max-width: 48rem;
  }
}
/* line 21, ../scss/layout/_guest.scss */
.guest__welcome {
  display: none;
  background-color: #10b981;
}
@media screen and (min-width: 64rem) {
  /* line 21, ../scss/layout/_guest.scss */
  .guest__welcome {
    display: flex;
  }
}
/* line 32, ../scss/layout/_guest.scss */
.guest__authentication {
  background-color: #FFFFFF;
}
/* line 36, ../scss/layout/_guest.scss */
.guest__illustration {
  display: none;
  background-color: #FFFFFF;
}
/* line 39, ../scss/layout/_guest.scss */
.guest__illustration svg {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media screen and (min-width: 64rem) {
  /* line 36, ../scss/layout/_guest.scss */
  .guest__illustration {
    display: flex;
  }
}

/* line 3, ../scss/components/_course-card.scss */
.course-card:hover, .course-card--primary:hover, .course-card--secondary:hover, .course-card--red:hover, .course-card--orange:hover, .course-card--blue:hover, .course-card--purple:hover, .course-card--pink:hover {
  box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.7);
  -webkit-box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.7);
  -moz-box-shadow: 0px -1px 14px -1px rgba(148, 163, 184, 0.7);
}
/* line 9, ../scss/components/_course-card.scss */
.course-card--primary {
  background-color: #c3eee0;
  color: #0c8b61;
}
/* line 14, ../scss/components/_course-card.scss */
.course-card--primary:hover {
  background-color: #9fe3cd;
  color: #0a6f4d;
}
/* line 19, ../scss/components/_course-card.scss */
.course-card--primary .course-card__progressbar {
  background-color: #e7f8f2;
}
/* line 23, ../scss/components/_course-card.scss */
.course-card--primary .progress {
  background-color: #0c8b61;
}
/* line 29, ../scss/components/_course-card.scss */
.course-card--secondary {
  background-color: #cccccc;
  color: #272727;
}
/* line 34, ../scss/components/_course-card.scss */
.course-card--secondary:hover {
  background-color: #aeaeae;
  color: #1f1f1f;
}
/* line 39, ../scss/components/_course-card.scss */
.course-card--secondary .course-card__progressbar {
  background-color: #ebebeb;
}
/* line 43, ../scss/components/_course-card.scss */
.course-card--secondary .progress {
  background-color: #272727;
}
/* line 49, ../scss/components/_course-card.scss */
.course-card--red {
  background-color: #fecaca;
  color: #b91c1c;
}
/* line 54, ../scss/components/_course-card.scss */
.course-card--red:hover {
  background-color: #fca5a5;
  color: #991b1b;
}
/* line 59, ../scss/components/_course-card.scss */
.course-card--red .course-card__progressbar {
  background-color: #fee2e2;
}
/* line 63, ../scss/components/_course-card.scss */
.course-card--red .progress {
  background-color: #b91c1c;
}
/* line 70, ../scss/components/_course-card.scss */
.course-card--orange {
  background-color: #fed7aa;
  color: #c2410c;
}
/* line 75, ../scss/components/_course-card.scss */
.course-card--orange:hover {
  background-color: #fdba74;
  color: #9a3412;
}
/* line 80, ../scss/components/_course-card.scss */
.course-card--orange .course-card__progressbar {
  background-color: #ffedd5;
}
/* line 84, ../scss/components/_course-card.scss */
.course-card--orange .progress {
  background-color: #c2410c;
}
/* line 90, ../scss/components/_course-card.scss */
.course-card--blue {
  background-color: #bfdbfe;
  color: #1d4ed8;
}
/* line 95, ../scss/components/_course-card.scss */
.course-card--blue:hover {
  background-color: #93c5fd;
  color: #1e40af;
}
/* line 100, ../scss/components/_course-card.scss */
.course-card--blue .course-card__progressbar {
  background-color: #dbeafe;
}
/* line 104, ../scss/components/_course-card.scss */
.course-card--blue .progress {
  background-color: #1d4ed8;
}
/* line 110, ../scss/components/_course-card.scss */
.course-card--purple {
  background-color: #e9d5ff;
  color: #7e22ce;
}
/* line 115, ../scss/components/_course-card.scss */
.course-card--purple:hover {
  background-color: #d8b4fe;
  color: #6b21a8;
}
/* line 120, ../scss/components/_course-card.scss */
.course-card--purple .course-card__progressbar {
  background-color: #f3e8ff;
}
/* line 124, ../scss/components/_course-card.scss */
.course-card--purple .progress {
  background-color: #7e22ce;
}
/* line 130, ../scss/components/_course-card.scss */
.course-card--pink {
  background-color: #fbcfe8;
  color: #be185d;
}
/* line 135, ../scss/components/_course-card.scss */
.course-card--pink:hover {
  background-color: #f9a8d4;
  color: #9d174d;
}
/* line 140, ../scss/components/_course-card.scss */
.course-card--pink .course-card__progressbar {
  background-color: #fce7f3;
}
/* line 144, ../scss/components/_course-card.scss */
.course-card--pink .progress {
  background-color: #be185d;
}

/* line 1, ../scss/components/_event-card.scss */
.event-card, .event-card--primary, .event-card--secondary, .event-card--red, .event-card--orange, .event-card--blue, .event-card--purple, .event-card--pink {
  color: #FFFFFF;
}
/* line 5, ../scss/components/_event-card.scss */
.event-card--primary {
  background-color: #10b981;
}
/* line 9, ../scss/components/_event-card.scss */
.event-card--primary button {
  background-color: #58cea7;
}
/* line 14, ../scss/components/_event-card.scss */
.event-card--secondary {
  background-color: #343434;
}
/* line 18, ../scss/components/_event-card.scss */
.event-card--secondary button {
  background-color: #717171;
}
/* line 23, ../scss/components/_event-card.scss */
.event-card--red {
  background-color: #ef4444;
}
/* line 27, ../scss/components/_event-card.scss */
.event-card--red button {
  background-color: #f87171;
}
/* line 32, ../scss/components/_event-card.scss */
.event-card--orange {
  background-color: #f97316;
}
/* line 36, ../scss/components/_event-card.scss */
.event-card--orange button {
  background-color: #fb923c;
}
/* line 41, ../scss/components/_event-card.scss */
.event-card--blue {
  background-color: #3b82f6;
}
/* line 45, ../scss/components/_event-card.scss */
.event-card--blue button {
  background-color: #60a5fa;
}
/* line 50, ../scss/components/_event-card.scss */
.event-card--purple {
  background-color: #a855f7;
}
/* line 54, ../scss/components/_event-card.scss */
.event-card--purple button {
  background-color: #c084fc;
}
/* line 59, ../scss/components/_event-card.scss */
.event-card--pink {
  background-color: #ec4899;
}
/* line 63, ../scss/components/_event-card.scss */
.event-card--pink button {
  background-color: #f472b6;
}
/* line 69, ../scss/components/_event-card.scss */
.event-card.not-active, .not-active.event-card--primary, .not-active.event-card--secondary, .not-active.event-card--red, .not-active.event-card--orange, .not-active.event-card--blue, .not-active.event-card--purple, .not-active.event-card--pink {
  color: #717171;
  background-color: #f5f5f5;
}
/* line 73, ../scss/components/_event-card.scss */
.event-card.not-active button, .not-active.event-card--primary button, .not-active.event-card--secondary button, .not-active.event-card--red button, .not-active.event-card--orange button, .not-active.event-card--blue button, .not-active.event-card--purple button, .not-active.event-card--pink button {
  background-color: #ebebeb;
}

/* line 1, ../scss/components/_button.scss */
.btn, .btn--primary, .btn--primary-outlined, .btn--white, .btn--white-outlined, .btn--gray, .btn--gray-outlined, .btn--danger {
  padding: .5em 1.5em;
  border-radius: .4em;
  font-weight: 600;
  transition: transform .3s ease, background-color .3s ease;
  font-style: normal;
  cursor: pointer;
}
/* line 9, ../scss/components/_button.scss */
.btn--primary {
  background-color: #10b981;
  color: #FFFFFF;
}
/* line 14, ../scss/components/_button.scss */
.btn--primary-outlined {
  background-color: transparent;
  color: #10b981;
  border: 1px solid #10b981;
}
/* line 23, ../scss/components/_button.scss */
.btn--white {
  background-color: #FFFFFF;
  color: #10b981;
}
/* line 28, ../scss/components/_button.scss */
.btn--white-outlined {
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
/* line 37, ../scss/components/_button.scss */
.btn--gray {
  background-color: #FFFFFF;
  color: #aeaeae;
}
/* line 42, ../scss/components/_button.scss */
.btn--gray-outlined {
  background-color: transparent;
  color: #717171;
  border: 1px solid #aeaeae;
}
/* line 53, ../scss/components/_button.scss */
.btn:hover, .btn--primary:hover, .btn--primary-outlined:hover, .btn--white:hover, .btn--white-outlined:hover, .btn--gray:hover, .btn--gray-outlined:hover, .btn--danger:hover {
  transform: scale(1.05);
}
/* line 57, ../scss/components/_button.scss */
.btn--icon, .btn--icon--primary, .btn--icon--danger, .btn--icon--blue {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  transition: transform .3s ease, background-color .3s ease;
}
/* line 63, ../scss/components/_button.scss */
.btn--icon:hover, .btn--icon--primary:hover, .btn--icon--danger:hover, .btn--icon--blue:hover {
  transform: scale(1.05);
}
/* line 67, ../scss/components/_button.scss */
.btn--icon svg, .btn--icon--primary svg, .btn--icon--danger svg, .btn--icon--blue svg {
  margin-left: auto;
  margin-right: auto;
}
/* line 72, ../scss/components/_button.scss */
.btn--icon--primary {
  color: #FFFFFF;
  background-color: #10b981;
}
/* line 78, ../scss/components/_button.scss */
.btn--icon--danger {
  color: #ef4444;
  background-color: #fee2e2;
}
/* line 84, ../scss/components/_button.scss */
.btn--icon--blue {
  color: #3b82f6;
  background-color: #dbeafe;
}
/* line 92, ../scss/components/_button.scss */
.btn--danger {
  background-color: #ef4444;
  color: #FFFFFF;
}

/* line 1, ../scss/components/_input-search.scss */
.input-search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23717171'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 98% center;
}

/* line 3, ../scss/views/_events.scss */
.events-index table {
  width: 120rem;
}
/* line 6, ../scss/views/_events.scss */
.events-index table th, .events-index table td {
  padding-right: 2rem;
}
/* line 9, ../scss/views/_events.scss */
.events-index table th:last-of-type, .events-index table td:last-of-type {
  padding-right: 0;
}

/*# sourceMappingURL=style.css.map */
