.main-container{
    margin-left: auto;
    background-color: $white;

    @include md-size{
        margin-left: -3.8rem;
        padding: 2rem 2rem 2rem 5.8rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    }

}