.btn{
    padding: .5em 1.5em;
    border-radius: .4em;
    font-weight: 600;
    transition: transform .3s ease, background-color .3s ease;

    &--primary{
        @extend .btn;
        background-color: $primary-color-500;
        color: $white;

        &-outlined{
            @extend .btn;
            background-color: transparent;
            color: $primary-color-500;
            border: 1px solid $primary-color-500;
        }

    }

    &--white{
        @extend .btn;
        background-color: $white;
        color: $primary-color-500;

        &-outlined{
            @extend .btn;
            background-color: transparent;
            color: $white;
            border: 1px solid $white;
        }

    }


    &:hover{
        transform: scale(1.05);
    }

    &--primary-icon{
        color: $white;
        width: 2.5em;
        height: 2.5em;
        background-color: $primary-color-500;
        border-radius: 100%;
        transition: transform .3s ease, background-color .3s ease;

        &:hover{
            transform: scale(1.05);
        }

    }


}