.course-card{

    &--primary{
        //@extend .course-card;
        background-color: $primary-color-200;
        color: $primary-color-700;
        background-image: linear-gradient(to right bottom, $primary-color-100, $primary-color-300);

        &:hover{
            background-color: $primary-color-300;
            color: $primary-color-800;
        }

        .progress{
            background-color: $primary-color-700;
        }

    }

    &--secondary{
        //@extend .course-card;
        background-color: $secondary-color-200;
        background-image: linear-gradient(to right bottom, $secondary-color-100, $secondary-color-300);
        color: $secondary-color-700;

        &:hover{
            background-color: $secondary-color-300;
            color: $secondary-color-800;
        }

        .progress{
            background-color: $secondary-color-700;
        }

    }

    &--red{
        //@extend .course-card;
        background-color: $red-color-200;
        background-image: linear-gradient(to right bottom, $red-color-100, $red-color-300);
        color: $red-color-700;

        &:hover{
            background-color: $red-color-300;
            color: $red-color-800;
        }

        .progress{
            background-color: $red-color-700;
        }


    }

    &--orange{
        //@extend .course-card;
        background-color: $orange-color-200;
        background-image: linear-gradient(to right bottom, $orange-color-100, $orange-color-300);
        color: $orange-color-700;

        &:hover{
            background-color: $orange-color-300;
            color: $orange-color-800;
        }

        .progress{
            background-color: $orange-color-700;
        }

    }

    &--blue{
        //@extend .course-card;
        background-color: $blue-color-200;
        background-image: linear-gradient(to right bottom, $blue-color-100, $blue-color-300);
        color: $blue-color-700;

        &:hover{
            background-color: $blue-color-300;
            color: $blue-color-800;
        }

        .progress{
            background-color: $blue-color-700;
        }

    }

    &--purple{
        //@extend .course-card;
        background-color: $purple-color-200;
        background-image: linear-gradient(to right bottom, $purple-color-100, $purple-color-300);
        color: $purple-color-700;

        &:hover{
            background-color: $purple-color-300;
            color: $purple-color-800;
        }

        .progress{
            background-color: $purple-color-700;
        }

    }

    &--pink{
        //@extend .course-card;
        background-color: $pink-color-200;
        background-image: linear-gradient(to right bottom, $pink-color-100, $pink-color-300);
        color: $pink-color-700;

        &:hover{
            background-color: $pink-color-300;
            color: $pink-color-800;
        }

        .progress{
            background-color: $pink-color-700;
        }

    }

    &__progressbar{
        background-color: rgba($white, .7);
    }

    

    &__progressbar--disabled{
        background-color: rgba($white, .3);
    }

}