.event-card{

    color: $white;

    &--primary{
        @extend .event-card;
        background-color: $primary-color-500;

        button{
            background-color: $primary-color-400;
        }

        &:hover{
            background-color: $primary-color-600;
        }

    }

    &--secondary{
        @extend .event-card;
        background-color: $secondary-color-500;

        button{
            background-color: $secondary-color-400;
        }

        &:hover{
            background-color: $secondary-color-600;
        }
    }

    &--red{
        @extend .event-card;
        background-color: $red-color-500;

        button{
            background-color: $red-color-400;
        }

        &:hover{
            background-color: $red-color-600;
        }
    }

    &--orange{
        @extend .event-card;
        background-color: $orange-color-500;

        button{
            background-color: $orange-color-400;
        }

        &:hover{
            background-color: $orange-color-600;
        }
    }

    &--blue{
        @extend .event-card;
        background-color: $blue-color-500;

        button{
            background-color: $blue-color-400;
        }

        &:hover{
            background-color: $blue-color-600;
        }
    }

    &--purple{
        @extend .event-card;
        background-color: $purple-color-500;

        button{
            background-color: $purple-color-400;
        }

        &:hover{
            background-color: $purple-color-600;
        }
    }

    &--pink{
        @extend .event-card;
        background-color: $pink-color-500;

        button{
            background-color: $pink-color-400;
        }

        &:hover{
            background-color: $pink-color-600;
        }
    }

    &.not-active{
        color: $secondary-color-400;
        background-color: $secondary-color-50;

        button{
            background-color: $secondary-color-100;
        }
    }

}