.event-card{
    color: $white;

    &--primary{
        @extend .event-card;
        background-color: $primary-color-500;
        background-image: linear-gradient(to right bottom, $primary-color-400, $primary-color-600);

        button{
            background-color: $primary-color-400;
        }

        &:active{
            background-color: $primary-color-600;
            background-image: linear-gradient(to right bottom, $primary-color-500, $primary-color-700);
        }

    }

    &--secondary{
        @extend .event-card;
        background-color: $secondary-color-500;
        background-image: linear-gradient(to right bottom, $secondary-color-400, $secondary-color-600);

        button{
            background-color: $secondary-color-400;
        }

        &:active{
            background-color: $secondary-color-600;
            background-image: linear-gradient(to right bottom, $secondary-color-500, $secondary-color-700);
        }
    }

    &--red{
        @extend .event-card;
        background-color: $red-color-500;
        background-image: linear-gradient(to right bottom, $red-color-400, $red-color-600);

        button{
            background-color: $red-color-400;
        }

        &:active{
            background-color: $red-color-600;
            background-image: linear-gradient(to right bottom, $red-color-500, $red-color-700);
        }
    }

    &--orange{
        @extend .event-card;
        background-color: $orange-color-500;
        background-image: linear-gradient(to right bottom, $orange-color-400, $orange-color-600);

        button{
            background-color: $orange-color-400;
        }

        &:active{
            background-color: $orange-color-600;
            background-image: linear-gradient(to right bottom, $orange-color-500, $orange-color-700);
        }
    }

    &--blue{
        @extend .event-card;
        background-color: $blue-color-500;
        background-image: linear-gradient(to right bottom, $blue-color-400, $blue-color-600);

        button{
            background-color: $blue-color-400;
        }

        &:active{
            background-color: $blue-color-600;
            background-image: linear-gradient(to right bottom, $blue-color-500, $blue-color-700);
        }
    }

    &--purple{
        @extend .event-card;
        background-color: $purple-color-500;
        background-image: linear-gradient(to right bottom, $purple-color-400, $purple-color-600);

        button{
            background-color: $purple-color-400;
        }

        &:active{
            background-color: $purple-color-600;
            background-image: linear-gradient(to right bottom, $purple-color-500, $purple-color-700);
        }
    }

    &--pink{
        @extend .event-card;
        background-color: $pink-color-500;
        background-image: linear-gradient(to right bottom, $pink-color-400, $pink-color-600);

        button{
            background-color: $pink-color-400;
        }

        &:active{
            background-color: $pink-color-600;
            background-image: linear-gradient(to right bottom, $pink-color-500, $pink-color-700);
        }
    }

    &.not-active{
        color: $secondary-color-400;
        background-color: $secondary-color-50;
        background-image: linear-gradient(to right bottom, $secondary-color-50, $secondary-color-50);

        button{
            background-color: $secondary-color-100;
        }
    }

}