html{
    font-size: 1rem;
    font-family: $primary-font;
}

body{
    background-color: $white;

    @include md-size{
        background-color: $primary-color-400;
        background-image: linear-gradient(to right bottom, $primary-color-400, $primary-color-500);
    }

    
}

p{
    line-height: 2em;
}