$primary-color: #10b981;
$secondary-color: #343434;
$white: #FFFFFF;
$black: #000000;


// --------------------------------------------------------------------------
//                            PRIMARY COLOR SHADES                           
// --------------------------------------------------------------------------

$primary-color-50: #f3fcf9; 
$primary-color-100: #e7f8f2;
$primary-color-200: #c3eee0;
$primary-color-300: #9fe3cd;
$primary-color-400: #58cea7;
$primary-color-500: #10b981;
$primary-color-600: #0ea774;
$primary-color-700: #0c8b61;
$primary-color-800: #0a6f4d;
$primary-color-900: #085b3f;


// --------------------------------------------------------------------------
//                           SECONDARY COLOR SHADES                          
// --------------------------------------------------------------------------


$secondary-color-50: #f5f5f5;
$secondary-color-100: #ebebeb;
$secondary-color-200: #cccccc;
$secondary-color-300: #aeaeae;
$secondary-color-400: #717171;
$secondary-color-500: #343434;
$secondary-color-600: #2f2f2f;
$secondary-color-700: #272727;
$secondary-color-800: #1f1f1f;
$secondary-color-900: #191919;